.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 3fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 15px;
  grid-auto-flow: dense;
}

.container img {
  height: 35%;
  width: 100%;
  object-fit: cover;
}
.container h2 {
  margin: 4px;
  object-fit: cover;
}

.container p {
  color: rgb(100, 100, 100);
  margin: 2px;
  object-fit: cover;
}

.container h3 {
  padding: 5px;
  margin-bottom: 2px;
  background-color: darkcyan;
}
